.NavPaper {
    background-color: black !important;
    border: 1px solid white;
    padding: 0.5vw;
    text-decoration: none;
    display: block;
    margin-top: 16px;
}

.HoverNavPaper {
    /* flex-grow: 1; */
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    position: absolute;
    bottom: 1.6vw;
    left: 1.6vw;
    opacity: 0;
    padding: 0.5vw 1.2vw 0.5vw 1.2vw;

}

.LinkText {
    color: pink;
    font-family: "Press Start 2P", cursive !important;
    font-size: 0.85vw !important;
    text-shadow: 1px 1px #c8c8c8;
    /* text-align: center; */
}

.HoverLinkText {
    color: black;
    font-family: "Press Start 2P", cursive !important;
    font-size: 0.85vw !important;
    text-shadow: 1px 1px pink !important;
    text-decoration: none;
    text-align: center;
}

.NavPaper:hover > .LinkText {
    color: black !important;
    text-shadow: 1px 1px black !important;
}

.NavPaper:hover + .HoverNavPaper {
    opacity: 1 !important;
}

.HoverNavPaper:hover {
    opacity: 1 !important;
}

/* .ActiveNav {
    color: black !important;
    text-shadow: 1px 1px black !important;
} */
.ActiveNav h6 {
    color: black !important;
    text-shadow: 1px 1px black !important;
}

.ActiveHoverNav {
    opacity: 1 !important
}